
<div class="row marketing">
	<div class="team-group" ng-repeat="(groupKey, group) in matchSections">
		<div class="team-group-name">{{group.label}}</div>
		<div class="match" ng-repeat="(matchKey, match) in group.matchs" ng-click="open(match)">
			<span class="flag-icon flag-icon-{{match.homeCode}}"></span>
			<span class="country">{{match.home}}</span><span class="score">{{match.getHomeBet()}}</span> -
			<span class="score">{{match.getAwayBet()}}</span><span class="country">{{match.away}}</span>
			<span class="flag-icon flag-icon-{{match.awayCode}}"></span>
			<div class="more-information">
				<div>
					<span class="match-place"><b>Match place:</b> {{match.place}}</span>
					<span class="match-date"><b>Match date:</b> {{match.date | date:'dd/MM HH:mm'}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3>Make your bet!</h3>
    </div>
    <div class="modal-body">
    	<div class="bet-input">
    		<h4><span class="flag-icon flag-icon-{{match.homeCode}}"></span>{{match.home}}</h4>
    		<input type="text" ng-model="bet.homeScore"/>
    	</div>
    	<div class="bet-input">
        	<h4><span class="flag-icon flag-icon-{{match.awayCode}}"></span>{{match.away}}</h4>
        	<input type="text" ng-model="bet.awayScore" />
    	</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>