

<div class="jumbotron">
  <h1>Ready ?</h1>
  <p class="lead">
    <img src="images/fifa.jpg" alt="I'm Yeoman"><br>
    Take a beer and a pizza
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Let's play</a></p>
</div>

<div class="row marketing">
<div class="team-group" ng-repeat="(groupKey, group) in groups">
	<div class="team-group-name">{{group.name}}</div>
	<div class="country" ng-repeat="(countryCode, country) in group.countries">
		<img ng-src="{{country.flagIcon}}" /><span class="country-name">{{country.name}}</span>
	</div>
</div>
</div>

